#titleContainer {
  text-align: center;
}

#title {
  margin: 0 auto;
  display: inline-block;
  font-family: Orbitron;
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 15px;
}

#navContainer {
  text-align: center;
  height: 50px;
}

.tabButton {
  display: inline-block;
  font-family: Orbitron;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 11px;
  height: 50px;
}

.navBar {
  background-color: rgba(0, 0, 0, .3);
  height: 50px;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

#tabContainer {
  text-align: center;
  height: 900px;
}

#curiosityTab {
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, .3);
  height: 90%;
  width: 90%;
}

#opportunityTab {
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, .3);
  height: 90%;
  width: 90%;
}

#spiritTab {
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, .3);
  height: 90%;
  width: 90%;
}

img {
  height: 300px;
  width: auto;
}
