/* header */
#titleContainer {
  text-align: center;
}

#title {
  margin: 0 auto;
  display: inline-block;
  font-family: Orbitron;
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 15px;
}

/* nav */
#navContainer {
  text-align: center;
  height: 50px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.tabButton {
  display: inline-block;
  font-family: Orbitron;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 11px;
  height: 50px;
  background-color: rgba(0, 0, 0, .3);
}

.navBar {
  height: 50px;
  display: inline-block;
}

/* greeting */
#welcomeContainer {
  margin-top: 200px;
  display: block;
  text-align: center;
}

#welcome {
  display: inline-block;
  font-family: Orbitron;
  font-size: 40px;
  font-weight: 500;
  position: relative;
  
}

/* rover data */
.dataContainer {
  margin-top: 20px;
}

.photoContainer {
  margin-top: 30px;
}

.data {
  font-family: Orbitron;
  font-weight: 500;
}


/* rover tabs */
#tabContainer {
  text-align: center;
  height: 900px;
}

#curiosityTab {
  margin: 0 auto;
  height: 90%;
  width: 90%;
}

#opportunityTab {
  margin: 0 auto;
  height: 90%;
  width: 90%;
}

#spiritTab {
  margin: 0 auto;
  height: 90%;
  width: 90%;
}


/* photo format */
img {
  height: 300px;
  width: auto;
}

/* media queries */
@media only screen and (max-width: 812px) {
  .photoContainer {
    margin-top: 40px;
  }
  .dataContainer {
    margin-top: 200px;
  }
  .tabButton {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .photoContainer {
    margin-top: 40px;
  }
  .dataContainer {
    margin-top: 150px;
  }
  .tabButton {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 542px) {
  .photoContainer {
    margin-top: 40px;
  }
  .dataContainer {
    margin-top: 200px;
  }
  .tabButton {
    margin-top: 15px;
  }
  #welcome {
    font-size: 30px;
  }
}